<div class="uk-container uk-margin">
  <button class="uk-button uk-margin uk-button-primary" onclick="vistaAux('', 'detalleUsuario')">Agregar usuario</button>
  <!-- TODO abrir la vista con parametro que indique nuevo usuario -->
  <table class="uk-table uk-table-small uk-table-striped">
      <thead>
        <tr>
          <th class="uk-table-expand">Nombre</th>
          <th>Nivel</th>
          <th>Desde</th>
          <th>Registró</th>
          <th><th/>
        </tr>
      </thead>
      <tbody id="tblUsuarios">
      </tbody>
    </table>

</div>

<script>
  $('#titulo').text('Administración de Usuarios');
  var $tabla = $('#tblUsuarios');
  $.get("./api/Usuarios/", function(r){
    r.forEach(function(el) {
      $tabla.append("<tr><td>" + el.correo + "</td><td>"+ el.nivel + "</td><td>-</td><td>-</td>" +
      "<td><span class=\"uk-icon-button\" uk-icon=\"more\"></span></td></tr>");
      //TODO bind each a click event for detalleUsuario
    })
  });
</script>
