<script>
  $('#titulo').text('Detalles de $NOMBRE');
  //TODO cargar datos de clente existente según indique variable local

  function modoEdicion() {
    //hace los campos editables y muestra el boton guardar
    $(':input').prop('disabled', false);
    $('#btn_guardar').removeClass('uk-hidden');
  }
</script>

<div class="uk-container uk-container-small uk-margin-large">
  <div class="uk-grid">
    <div class="uk-width-3-5">
      <form id="formCliente">
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <input class="uk-input" id="nombre" type="text" placeholder="Nombre(s)" name="nombre" disabled>
          </div>
          <div class="uk-margin">
            <input class="uk-input" id="apellidoMat" type="text" placeholder="Apellido materno" name="apellido" disabled>
            <input class="uk-input" id="apellidoPat" type="text" placeholder="Apellido paterno" name="apellido" disabled>
          </div>
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Tel celular" name="celular" disabled>
          </div>
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Correo" name="email" disabled>
          </div>
          <div class="uk-margin">
            <textarea class="uk-textarea" rows="4" placeholder="Notas" id="notas" disabled></textarea>
          </div>
        </fieldset>
      </form>
      <span class="uk-icon-button" uk-icon="pencil" onclick="modoEdicion()"></span>
      <button id="btn_guardar" class="uk-button uk-button-secondary uk-button-small uk-hidden">Guardar</button>
    </div><!-- /datoscliente -->

    <div class="uk-width-2-5">
      <div class="uk-card uk-card-hover uk-card-secondary uk-card-body uk-margin">
          <p class="uk-text-meta">Registrado por $USER</p>
      </div>
    </div>
    <!-- /cards -->

  </div>
</div>
