<!-- AnyTime date time picker-->
<script src="../lib/anytime.5.2.0.min.js"></script>
<link rel="stylesheet" href="../lib/anytime.5.2.0.min.css" />

<div class="uk-container uk-container-small uk-margin-large-top">
  <div class="uk-grid">
    <div class="uk-width-1-2">
      <h4>Datos del Cliente</h4>
      <form id="formCliente">
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <input class="uk-input" id="nombre" type="text" placeholder="Nombre completo" name="nombre">
          </div>
          <div class="uk-margin">
            <input class="uk-input" id="apellidoMat" type="text" placeholder="Apellido materno" name="apellido" disabled>
            <input class="uk-input" id="apellidoPat" type="text" placeholder="Apellido paterno" name="apellido" disabled>
          </div>
          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Tel principal" name="telefono">
            <input class="uk-input" type="text" placeholder="Tel fijo" name="telfijo" disabled>
            <input class="uk-input" type="text" placeholder="Tel trabajo" name="teltrabajo" disabled>
          </div>
        </fieldset>
      </form>

    </div> <!-- /datos cliente -->

    <div class="uk-width-1-2">
      <h4>Detalles de la cita</h4>
        <form id="formCita">
          <fieldset class="uk-fieldset">
            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Fecha" id="fecha_creada">
              <script>
                $("#fecha_creada").AnyTime_picker({
                  firstDOW: 1,
                  askSecond: false,
                  labelTitle: "Hora y Fecha",
                  dayNames: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"],
                  monthAbbreviations: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                  hideInput: true,
                  placement: "inline"
                });
              </script>
            </div>
            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Dirección" id="ubicacion">
            </div>
            <div class="uk-margin">
              <textarea class="uk-textarea" rows="4" placeholder="Referencia y notas" id="notas"></textarea>
            </div>
          </fieldset>
        </form>
    </div> <!-- /detalles cita -->

  </div>

  <button class="uk-button uk-button-primary uk-margin-large-bottom uk-margin-large-top" id="agendar">
    Agendar</button>

</div>

<script>
  $("#agendar").on('click', subForm);
function subForm() {
  var data = $('#formCliente').serialize();
  var nuevoID;
  data += "&estado=agendada";
  $.ajax({
    url: './api/Clientes',
    type: 'post',
    data: data,
    success: function(r){
      nuevoID = r.cliente_id;
      console.log("nuevo cliente: ID " + nuevoID);
      crearCita(nuevoID);
    },
    error: function(e){ console.log(e);}
  });
}

function crearCita(id){
  var cliente, nombre;
  $.ajax({
    url: './api/Clientes/' + id,
    type: 'get',
    async: false,
    success: function(r){
      nombre = r.nombre;
      cliente = r.cliente_id;
      console.log(cliente);
    }
  });
  var evento = {
    titulo: ("Demostración a " + nombre),
    notas:  $('#notas').val(),
    fecha_creada: $("#fecha_creada").val(),
    ubicacion: $("#ubicacion").val(),
    cliente_id: cliente,
    usuario_id: me.usuario_id
  };
  console.table(evento);
  $.ajax({
    url: './api/Agendas',
    type: 'post',
    data: evento,
    success: function(r) {
      restablecerVista();
      console.log(r.responseText);
    }
  });

}

</script>
