<!-- Menú interno (pestañas) -->
<ul id="menuPestanas" uk-tab uk-switcher="animation: uk-animation-fade" class="uk-padding">
    <li id="tab_Agenda" class="uk-active"><a href="#">Agenda</a></li>
    <li id="tab_Flujo"><a href="#">Flujo de ventas</a></li>
    <!-- Si hubiera otra pestana, necesita tener su div en uk-switcher-->
</ul> <!-- /pestañas -->

<ul class="uk-switcher"><!-- contenedor para los paneles -->

  <div id="panelAgenda">
    <table class="uk-table uk-table-small uk-table-striped">
      <thead>
        <tr> <!-- este renglón contiene el botón de agregar -->
            <td><button class="uk-button uk-button-small" id="btnCita">
              Crear cita...</button>
            <!-- <div uk-dropdown="mode: click">
              <ul class="uk-nav uk-dropdown-nav">
                <li><a href="#">Demostración</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#">Pago</a></li>
                <li><a href="#">Entrega</a></li>
                <li><a href="#">Seguimiento</a></li>
              </ul>
            </div> --></td>
            <td></td>
            <td></td>
        </tr><!-- /renglonAgregar -->
      </thead>
      <tbody id="tbl_citas">

      </tbody>
    </table>
  </div><!-- /agenda -->

  <div id="panelFlujo">
    <table class="uk-table uk-table-small uk-table-striped">
      <tbody id="tbl_flujo">
        <thead>
          <tr>
            <th class="uk-table-expand">Nombre</th>
            <th>último evento</th>
            <th></th>
          </tr>
        </thead>
        <!-- renglones se insertan aqui -->
      </tbody>
    </table>
  </div>

</ul><!-- /contenedorPaneles -->


<script>

//TODO poner username en $USERNAME
//TODO mostrar "administrar usuarios" si el nivel lo permite

function llenarCitas(){
  var now = (new Date().getTimezoneOffset())/60;
  console.log(now);
  var $tblCitas = $("#tbl_citas");
  $.ajax({
    url: ("./api/Agendas/usuario/" + me.usuario_id),
    success: function(result){
      $tblCitas.empty();
      if (result.length < 1) {
        $tblCitas.append("<tr><td class=\"uk-text-meta\">No hay citas en la agenda</td><td></td><td></td></tr>");
      }
      result.forEach(element =>{$("#tbl_citas").append("<tr><td>"+element.titulo+"</td><td>"+fechaConFormato(element.fecha_creada, now)+"</td><td>"+element.ubicacion+"</td></tr>");});
    },
    error: function(){
      $tblCitas.append("<tr><td class=\"uk-text-meta\">Problema conectando con el servidor :(</td><td></td><td></td></tr>");
    }
  });
}

function fechaConFormato(d, tz) {
  d = new Date(d);
  var h = d.getHours();
  d.setHours(tz + h);

  return new Intl.DateTimeFormat('es-ES', {
    month: 'short',
    weekday: 'short',
    day: 'numeric',
    hour: 'numeric',
    minute: 'numeric',
    hour12: true
  }).format(d);
}

function llenarClientes() {
  var $tblFlujo = $("#tbl_flujo");
  $.ajax({
    url: ("./api/Clientes/usuario/" + me.usuario_id),
    success: function(r){
      $tblFlujo.empty();
      if (r.length < 1){
        $tblFlujo.append("<tr><td class=\"uk-text-meta\">No tienes clentes (todavia)</td><td></td><td></td></tr>");
      };
      r.forEach(function(e) {
        var renglon = "<tr><td>" + e.nombre;
        renglon += ("</td><td>" + estadosClientes[e.estado] + "</td><td>...</td></tr>");
        //TODO insertar boton segun status
        $tblFlujo.append(renglon);
      });
    }
  });
}


var estadosClientes = [
  'Demo agendada',
  'Demo realizada',
  'Anticipo pagado',
  'Pago de contado', //wait deposit
  'Entregado',
  'Cita cancelada',
  'No venta',
  'Archivado'
];

$(function(){
  $("#btnCita").on('click', function (){
    //cargar vista nueva cita
    subVista('nuevaCita.html');
  })
  llenarCitas();
  llenarClientes();
});

//TODO botones on submit en vez de clic, encabeado en vista agenda, formato fecha, dias semana, labels, minutos, esconder anio
//TODO actualizacion de eventos segun fecha, opcion cancelar citas
//TODO vista global para N2, agrupar por dia
//no permitir eventos antes a hoy
// no dejar encimar citas

</script>
